.portfolio_purchase{
    grid-column: full-start/full-end;
    display:grid;
    grid-template-columns: minmax(min-content, 114rem);
    background-image: linear-gradient(
                                    to right,
                                    rgba($color-primary-dark, .95), 
                                    rgba($color-primary-dark, .95)),
                                    url("../assets/section_hero_03.jpg");
    background-size: cover;
    background-position:50% 20%;
    padding:8rem 0;
    
    justify-content:center;

    @include respond(tab-land){//width < 1200?
        padding:8rem 1rem;//1rem=9px, 9/16=56.25%
    }

    &__container{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    
    &__text{
        font-size:3.2rem;
        font-weight:900;
        color:$color-white;
        justify-self:start;
        align-self:center;
    }

    &__btn{
        justify-self:end;
        align-self:center;
    }
}